.title-create-session {
    margin: 21px;
    font-weight: 400;
    text-align: center;
  }

  .btm-submit {
    border-radius: .50rem;
  }

  .card-create-session{
    margin-bottom: 100px;
    padding-bottom: 10px;
  }