/* Custom styles for the container */
.custom-container {
    display: flex;
    flex-direction: row; /* Align cards horizontally */
    justify-content: center;
    align-items: center;
    gap: 20px;
}

/* Custom styles for the cards */
.custom-card {
    background-color: #f8f9fa;
    border: 1px solid #dee2e6;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 30%; /* Adjust the percentage as needed */
    max-width: 300px; /* Set a max-width to prevent excessive expansion */
    transition: transform 0.3s ease; /* Smooth transition for translation */
}

.custom-card:hover {
    border: 1px solid #007bff; /* Change border color on hover */
    transform: translateY(-5px); /* Translate cards upwards slightly on hover */
}
/* Custom styles for the card body */
.custom-card-body {
    padding: 20px;
}

/* Custom styles for the icon */
.custom-icon-big {
    font-size: 36px;
}

/* Custom styles for the icon color */
.custom-icon-warning {
    color: #ffc107;
}

/* Custom styles for the numbers */
.custom-numbers {
    text-align: center;
}

/* Custom styles for the category */
.custom-category {
    font-size: 14px;
    color: #6c757d;
}

/* Custom styles for the title */
.custom-title {
    font-size: 24px;
    margin-top: 5px;
}
/* Media query for small devices */
@media (max-width: 576px) {
    /* Adjust column width for small devices */
    .custom-col-5,
    .custom-col-md-4,
    .custom-col-7,
    .custom-col-md-5 {
        flex: 0 0 100%;
        max-width: 100%;
    }
    .custom-container {
        flex-direction: column; /* Align cards vertically */
    }

}
.card {
    margin-top: 20px;
    border: 0;
    border-radius: 6px;
    color: #333;
    background: #fff;
    width: 100%;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
    display: inline-block;
    position: relative;
    margin: 25px 0;
    font-weight: 300;
    text-align: center;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.iconss
{
    color: var(--blue)
}