{% extends 'teacher_sidebar.html' %}
{% block content %}
<link rel="stylesheet" href="../static/styles/all_sessions_grade.css">

<div class="custom-row">
    <div style="text-align: center;">
        <h2>Sessions in {{ grade }} Grade</h2>
    </div>
    {% for session in sessions %}
    <div class="custom-column">
        <div class="custom-card">
            <div class="custom-card-body">
                <h3 class="custom-card-title">{{ session.title }}</h3>
                <p class="custom-card-text">{{ session.description }}</p>
                <a href="{{ url_for('session_info_for_student', session_id=session.id, student_id=student.id) }}" class="custom-button">View Details</a>
            </div>
        </div>
    </div>
    <br></br>
    {% endfor %}
</div>

<div style="text-align: center; margin-top: 20px;margin-bottom: 200px;">
    <a href="{{url_for('create_session',grade=grade)}}" class="custom-button">Add New Session</a>
</div>

{% endblock content %}
