<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Session</title>
</head>
<body>
    <h1>Create Session</h1>
    <h2>Grade: {{ session.grade }}</h2>
    <form method="POST">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
        <fieldset>
            <legend>Quiz Information</legend>
            <label for="quiz_full_mark">Quiz Full Mark:</label>
            {{ form.quiz_full_mark(size=5, class="form-control") }}
            {%for student, student_form in zip(students, form.students_list):%}

                <div class="student-form">
                    <h3>Student {{ student.student_name }}</h3>
                    <label for="{{ student_form.quiz_mark.id }}">Quiz Mark for {{ student_form.absent.label.text }}:</label>
                    {{ student_form.absent(class="form-check-input") }}
                    {{ student_form.quiz_mark(size=5, class="form-control") }}
                </div>
            {% endfor %}
        </fieldset>
        <button type="submit" class="btn btn-primary">{{ form.submit.label }}</button>
    </form>
</body>
</html>
