{% extends "layout.html" %}
{% block content %}
    <div class="container">
        <div class="first">
            First Grade
            <div class="brief">
                all the students in the first grade {{student_first}}
                all session in the first grade {{session_first}}
            </div>
            <a href="{{url_for('dashboard_grade', grade='first')}}">detalis</a>
            <a href="{{url_for('create_session', grade='first')}}">craete session</a>
        </div>
        <div class="second">
            second Grade
            <div class="brief">
                all the students in the second grade {{student_second}}
                all session in the second grade {{session_second}}
            </div>
            <a href="{{url_for('dashboard_grade', grade='second')}}">detalis</a>
            <a href="{{url_for('create_session', grade='second')}}">craete session</a>
        </div>
        <div class="third">
            third Grade
            <div class="brief">
                all the students in the third grade {{student_third}}
                all session in the third grade {{session_third}}
            </div>
            <a href="{{url_for('dashboard_grade', grade='third')}}">detalis</a>
            <a href="{{url_for('create_session', grade='third')}}">craete session</a>
        </div>
    </div>
{% endblock content %}