{% extends "teacher_sidebar.html" %}
{% block content %}
            <!-- ======================= Cards ================== -->
            <div class="cardBox">
                <div class="card">
                    <div>
                        <div class="numbers">{{student_first}}</div>
                        <div class="cardName"><strong>First grade</strong> students</div>
                    </div>

                    <div class="iconBx">
                        <ion-icon name="accessibility-outline"></ion-icon>                    
                    </div>
                </div>
                <a href="{{ url_for('all_session_grade', grade='first') }}" style="text-decoration: none;">
                <div class="card">
                    <div>
                        <div class="numbers">{{session_first}}</div>
                        <div class="cardName">First grade sessions</div>
                    </div>

                    <div class="iconBx">
                        <ion-icon name="document-text-outline"></ion-icon>                    
                    </div>
                </div>
                </a>
                <div class="card">
                    <div class="numbers">TOP</div>
                        <div class="cardName">
                            {{ top_student_first['student_name']}}                          
                        </div>
                    <div class="iconBx">
                        <ion-icon name="stats-chart-outline"></ion-icon>
                    </div>
                </div>
                <div class="card">
                    <div>
                        <a href="{{url_for('dashboard_grade', grade='first')}}"><div class="numbers">more details</div></a>
                    </div>

                    <div class="iconBx">
                        <ion-icon name="information-circle-outline"></ion-icon>
                    </div>
                </div>
            </div>

            <div class="cardBox">
                <div class="card">
                    <div>
                        <div class="numbers">{{student_second}}</div>
                        <div class="cardName"><strong>second grade</strong> students</div>
                    </div>

                    <div class="iconBx">
                        <ion-icon name="accessibility-outline"></ion-icon>                    
                    </div>
                </div>
                <a href="{{ url_for('all_session_grade', grade='first') }}" style="text-decoration: none;">
                <div class="card">
                    <div>
                        <div class="numbers">{{session_second}}</div>
                        <div class="cardName">second grade sessions</div>
                    </div>

                    <div class="iconBx">
                        <ion-icon name="document-text-outline"></ion-icon>                    
                    </div>
                </div>
                </a>
                <div class="card">
                    <div class="numbers">TOP</div>
                        <div class="cardName">
                            {{ top_student_second['student_name']}}                          
                        </div>
                    <div class="iconBx">
                        <ion-icon name="stats-chart-outline"></ion-icon>
                    </div>
                </div>
                <div class="card">
                    <div>
                        <a href="{{url_for('dashboard_grade', grade='second')}}"><div class="numbers">more details</div></a>
                    </div>

                    <div class="iconBx">
                        <ion-icon name="information-circle-outline"></ion-icon>
                    </div>
                </div>
            </div>

            <div class="cardBox">
                <div class="card">
                    <div>
                        <div class="numbers">{{student_third}}</div>
                        <div class="cardName"><strong>Third grade</strong> students</div>
                    </div>

                    <div class="iconBx">
                        <ion-icon name="accessibility-outline"></ion-icon>                    
                    </div>
                </div>
                <a href="{{ url_for('all_session_grade', grade='first') }}" style="text-decoration: none;">
                <div class="card">
                    <div>
                        <div class="numbers">{{session_third}}</div>
                        <div class="cardName">Third grade sessions</div>
                    </div>

                    <div class="iconBx">
                        <ion-icon name="document-text-outline"></ion-icon>                    
                    </div>
                </div>
                </a>
                <div class="card">
                    <div class="numbers">TOP</div>
                        <div class="cardName">
                            {{ top_student_third['student_name']}}                              
                        </div>
                    <div class="iconBx">
                        <ion-icon name="stats-chart-outline"></ion-icon>
                    </div>
                </div>
                <div class="card">
                    <div>
                        <a href="{{url_for('dashboard_grade', grade='third')}}"><div class="numbers">more details</div></a>
                    </div>

                    <div class="iconBx">
                        <ion-icon name="information-circle-outline"></ion-icon>
                    </div>
                </div>
            </div>
{% endblock content %}
