{% extends 'layout.html' %}

{% block content %}
  <h2>Login</h2>
  <form method="POST">
    {{ form.hidden_tag() }}
    <div class="form-group">
      {{ form.email.label(class="form-control-label") }}
      {{ form.email(class="form-control") }}
      {% for error in form.email.errors %}
        <span class="text-danger">{{ error }}</span>
      {% endfor %}
    </div>
    <div class="form-group">
      {{ form.password.label(class="form-control-label") }}
      {{ form.password(class="form-control") }}
      {% for error in form.password.errors %}
        <span class="text-danger">{{ error }}</span>
      {% endfor %}
    </div>
    <button type="submit" class="btn btn-primary">{{ form.submit.label }}</button>
  </form>
{% endblock %}
