{% extends 'student_sidebar_test.html' %}
{% block content %}
<link rel="stylesheet" href="../static/styles/profile.css">

<div class="student-content">
    <div class="student-card">
        <div class="student-card-picture">
            <img class="student-avatar border-gray" src="../static/images/{{ student.photo_link }}" alt="Profile Picture">
        </div>
        <div class="student-card-details">
            <div class="student-card-header">
                <h5 class="student-card-title">Student Information</h5>
            </div>
            <div class="student-field">
                <span class="student-field-label">Username:</span>
                <span class="student-field-value">{{ student.student_name }}</span>
            </div>
            <div class="student-field">
                <span class="student-field-label">Email address:</span>
                <span class="student-field-value">{{ student.email }}</span>
            </div>
            <div class="student-field">
              <span class="student-field-label">Grade:</span>
              <span class="student-field-value">{{ student.grade }} grade</span>
            </div>
            <div class="student-field">
                <span class="student-field-label">Student Phone:</span>
                <span class="student-field-value">{{ student.student_phone }}</span>
            </div>
            <div class="student-field">
                <span class="student-field-label">Parent Phone:</span>
                <span class="student-field-value">{{ student.parent_phone }}</span>
            </div>
            <div class="student-field">
                <span class="student-field-label">Address:</span>
                <span class="student-field-value">{{ student.address }}</span>
            </div>
        </div>
    </div>
</div>
<div class="custom-container">
  <h2 class="custom-heading2">Here are your logs:</h2>
  <div class="custom-row">
      {% for session in sessions %}
      <div class="custom-column">
          <div class="custom-card">
              <div class="custom-card-body">
                  <h3 class="custom-card-title">{{ session.title }}</h3>
                  <p class="custom-card-text">{{ session.description }}</p>
                  <a href="{{ url_for('session_info_for_student', session_id=session.id, student_id=student.id) }}" class="custom-button">View Details</a>
                  {% if session in attended %}
                  <span class="custom-badge custom-success-badge ml-2">
                      Attendance: True
                  </span>
                  <span class="custom-badge custom-info-badge ml-2">
                      {% for mark in marks %}
                      {% if mark.session_id == session.id %}
                      Mark: {{ mark.mark }}/{{mark.full_mark}}
                      {% endif %}
                      {% endfor %}
                  </span>
                  {% else %}
                  <span class="custom-badge custom-danger-badge ml-2">
                      Attendance: False
                  </span>
                  {% endif %}
              </div>
          </div>
      </div>
      {% endfor %}
  </div>
{% endblock content %}
