{% extends 'layout.html' %}
{% block content %}
    <div data-bs-spy="scroll" data-bs-smooth-scroll="true" class="scrollspy-example bg-body-tertiary p-3 rounded-2 card-create-session">
        <div class="card container">
            <div class="card-header title-create-session">
                <h1 class="text-body-emphasis">Create A New Session</h1>
            </div>
            <div class="card-body">
                <form method="POST" action="" enctype="multipart/form-data">
                    {{ form.hidden_tag() }}
                    <div class="form-group">
                        <label for="title" class="form-control-label">Title</label>
                        {{ form.title(class="form-control", id="title") }}
                    </div>
                    <div class="form-group">
                        <label for="description" class="form-control-label">Description</label>
                        {{ form.description(class="form-control", id="description") }}
                    </div>
                    <div class="form-group">
                        {{ form.attachment_link.label() }}
                        {{ form.attachment_link(class="form-control-file", id="attachment_link") }}
                        {% if form.attachment_link.errors %}
                            {% for error in form.attachment_link.errors %}
                                <span class="text-danger">{{ error }}</span></div></br>
                            {% endfor %}
                        {% endif %}
                    </div>
                    <div class="form-group">
                        {{ form.video_link.label() }}
                        {{ form.video_link(class="form-control-file", id="video_link") }}
                        {% if form.attachment_link.errors %}
                            {% for error in form.video_link.errors %}
                                    <span class="text-danger">{{ error }}</span></br>
                            {% endfor %}
                        {% endif %}
                    </div>
                    <button type="submit" class="btn btn-primary btm-submit">Submit</button>
                </form>
            </div>

        </div>
    </div>
{% endblock %}
