{% extends 'layout.html' %}
{% block content %}
    <div class="container card container-session">
        <h1 class="mb-4 h1 text-center title-card-session">{{ session.title }}</h1>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Description:</h5>
                <p class="card-text">{{ session.description }}</p>
            </div>
        </div>
        <div class="card video-attachment">
            <div class="card-body">
                <h5 class="card-title">Session Attachment</h5>
                <embed src="../static/attachments/{{ session.attachment_link }}" width="650px" height="380px" />
            </div>
            <div class="card-body">
                <h5 class="card-title">Session Video</h5>
                <video width="640" height="360" controls>
                    <source src="../static/videos/{{ session.video_link }}" type="video/mp4">
                    Your browser does not support the video tag.
                </video>                
            </div>
        </div>
    </div>
{% endblock %}



