{% extends 'layout.html' %}
{% block content %}
    <h2>Session Information</h2>
    <form method="POST">
        {{ form.hidden_tag() }}
        <div class="form-group">
            {{ form.title.label(class="form-control-label") }}
            {{ form.title(class="form-control") }}
            {{ form.description.label(class="form-control-label") }}
            {{ form.description(class="form-control") }}
            {{ form.attachment_link.label(class="form-control-label") }}
            {{ form.attachment_link(class="form-control") }}
            {{ form.submit }}
{% endblock %}