{% extends 'layout.html' %}
{% block content %}
    <div class="container">
        <h2>Session Information</h2>
        <form method="POST">
            {{ form.hidden_tag() }}
            <div class="form-group">
                <label for="title" class="form-control-label">Title</label>
                {{ form.title(class="form-control", id="title") }}
            </div>
            <div class="form-group">
                <label for="description" class="form-control-label">Description</label>
                {{ form.description(class="form-control", id="description") }}
            </div>
            <div class="form-group">
                <label for="attachment_link" class="form-control-label">Attachment Link</label>
                {{ form.attachment_link(class="form-control", id="attachment_link") }}
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
{% endblock %}

