.attendance-badge {
    font-size: 1.2rem; /* Adjust the font size as needed */
    padding: 0.5rem 1rem; /* Adjust the padding as needed */
}

.mark-badge {
    font-size: 1.2rem; /* Adjust the font size as needed */
    padding: 0.5rem 1rem; /* Adjust the padding as needed */
}